@model RainMakr.Web.UI.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>Associate your @Model.LogInProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl, LogInProvider = Model.LogInProvider }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Association Form</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@Model.LogInProvider</strong>.
        Please enter a local password for this site below so you can log in without an external login and click the Register button to finish
        logging in.
    </p>
    @Html.HiddenFor(m => m.SubmitModel.Email)
    @Html.HiddenFor(m => m.SubmitModel.FirstName)
    @Html.HiddenFor(m => m.SubmitModel.LastName)
    <div class="form-group">
        @Html.LabelFor(m => m.SubmitModel.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.SubmitModel.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SubmitModel.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SubmitModel.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.SubmitModel.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.SubmitModel.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
